body {
  background-color: rgb(158, 177, 250);
}

.button-container {
  display: flex;
  margin: 40px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.bubble-button {
  border: 1px solid;
  border-radius: 200px;
  padding: 40px;
  margin: 20px;
  background-color: wheat;
  color: #0b0b0b;
  font-size: 64px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.bubble-button:hover {
  background-color: #f5f5f5;
}
#blink_text{	
  animation-name:blink;
  width:280px;
  animation-duration:2s;
  animation-timing-function:ease-in;
  animation-iteration-count:Infinite;
  }
p {
  text-align: center;
  font-size: 64px;
}

.noteBoxes {
  border: 9px solid;
  border-radius: 80px;
  padding: 20px; /* Adjust the padding value as needed */
  width: 100%; /* Set the width to 100% to occupy the full width of the container */
  max-width: 600px; /* Set a maximum width to prevent it from stretching too much */
  background-color: rgb(188, 181, 247);
  margin: 20px auto; /* Adjust the margin value as needed */
  font-family: "Arial", sans-serif;
  font-size: 32px; /* Adjust the font size value as needed */
}

/* Add a media query to further adjust the styles for smaller screens */
@media (max-width: 480px) {
  .noteBoxes {
    padding: 10px; /* Adjust the padding value for smaller screens */
    font-size: 24px; /* Adjust the font size value for smaller screens */
  }
}